django-filter
djangorestframework
flake8
psycopg2-binary
django
tzdata
sqlparse
asgiref
python-dotenv
postgres
django_rest_passwordreset
PyYAML
flake8-bugbear
flake8-builtins
pep8-naming
flake8-commas
flake8-variables-names
requests
ujson
pytest-django
model_bakery
gunicorn
whitenoise
celery
redis
django-celery-beat
django-celery-results
python-decouple
faker
drf-spectacular
django-allauth
dj_database_url